* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

html{
    font-family: monospace;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box{
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 25px;
    /* box-shadow: 0 0 60px orangered; */
    background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgba(181, 10, 10, 0.997), black) border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    animation: borderAnimate 2s infinite linear;
    animation-play-state: paused;
    transition: all 0.3s linear;
    box-shadow: 0 0 0px rgb(233, 5, 5);
    text-shadow: 0 0 0px rgb(233, 5, 5);
} 

.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 60px rgb(233, 5, 5);
    color: rgb(233, 5, 5);
    text-shadow: 0 0 10px rgb(233, 5, 5);
}


.box img{
    width: 100%;
}

.box p{
    font-size: 15px;
}

@keyframes borderAnimate {
    from{
        --rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}