* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --some-anchor;
    /* gap: 20px; */
}

.box{
    padding: 10px 20px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
}
.box:hover{
    anchor-name: --some-anchor;
}

.anchor{
    background-color: rgb(49, 47, 47);
    border-radius: 15px;
    position: absolute;
    position-anchor: --some-anchor;
    top:anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    transition: all 0.5s ease;
    mix-blend-mode: difference;
    pointer-events: none;
}