.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


    .form-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
        border-radius: 0.5rem;
        min-width: 300px;
        // background-color: #2c2b2b;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form-group {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                input {
                    padding: 0.5rem;
                    border-radius: 0.25rem;
                    border: 1px solid #ccc;
                }
            }
        }

    }
}