@font-face {
    font-family: 'horro';
    src: url(./Another\ Danger\ -\ Demo.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'horro';
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
    background: black;
}

#car1 {
    width: 100px;
    height: 50px;
    background: red;
}

#car2 {
    width: 100px;
    height: 50px;
    background: blue;
    position: absolute;

}

#car3 {
    width: 100px;
    height: 50px;
    background: green;

}