* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
main{
    padding: 10px;
    display: grid;
    grid-template-columns: 470px 470px 470px;
    grid-template-rows: 230px 230px 230px;
    grid-gap: 5px;

    grid-template-areas: "div1 div2 div4"
                         "div1 div3 div6"
                         "div5 div5 div6"
                         ;
}

.child1{
    border-radius: 10px;
    grid-area: div1;
    background-color: brown;
}
.child2{
    border-radius: 10px;
    grid-area: div2;
    background-color: violet;
}
.child3{
    border-radius: 10px;
    grid-area: div3;
    background-color: aqua;
}
.child4{
    border-radius: 10px;
    grid-area: div4;
    background-color: yellow;
}
.child5{
    border-radius: 10px;
    grid-area: div5;
    background-color: green;
}
.child6{
    border-radius: 10px;
    grid-area: div6;
    background-color: red;
}