* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 40px;
}

main{
  height: 100%;
  width: 100%;
  background-color: rgb(39, 38, 38);
  display: flex;
  gap: 10px;

  .box1{
    height: 100px;
    width: 100px;
    background-color: rgb(215, 29, 29);
  }

  .box2{
    height: 10vh;
    width: 10vw;
    background-color: aqua;
  }

  .box3{
    height: 5rem; //1 rem = 16px(based on parent)
    width: 4rem;
    background-color: violet;
  }

  .box4{
    height: 5em;// 1rem = based on parent 
    width: 5em;
    background-color: yellow;
  }

  .box5{
    height: 15%;
    width: 15%;
    background-color: blue;
  }

  .text{
    font-size: 40px;
    color: white;
  }
  .text h1{
    font-size: clamp(14px, 1vw, 18px)//clamp(min,current,max)
  }
}

