*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

.mouse-follower{
    height: 30px;
    width: 30px;
    background-color: rgb(77, 58, 58);
    border-radius: 50%;
    position: absolute;
}