* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    /* background: #000;
    color: white; */
}

.box{
    height: 200px;
    width: 200px;
    background-color: aqua;
    margin-bottom: 10px;
}