.feed-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .feed {
        max-width: 300px;
        width: 100%;


        .posts {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .post {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                background-color: rgba(68, 35, 35, 0.781);
                padding: 0.5rem;
                padding-block: 0.5rem;
                border-radius: 10px;


                .user {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;


                    .img-wrapper{
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 3px solid transparent;
                        background: conic-gradient(from 45deg, rgb(255, 55, 0), rgb(252, 0, 248), rgb(255, 208, 0), purple) border-box;
                    }

                    img {
                        width: 2rem;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                    }
                }

                .icons{
                    display: flex;
                    justify-content: space-between;

                    
                    .left{
                        display: flex;
                        gap: 1rem;
                    }
                    
                    .like{
                        color : red;
                    }

                    svg{
                        width: 1.4rem;
                        aspect-ratio: 1/1;
                        color: white;
                    }
                    button{
                        background-color: transparent;
                        border: none;
                        outline: none;
                    }
                }

                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
    }
}