* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

input, button{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 16px;
  margin: 10px;
}
input::placeholder{
  color: black;
}

.main{
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
}