nav{
    width: 100%;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.2rem;
    background-color: rgba(41, 41, 41, 0.507);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;


    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .left, .right{
         display: flex;
         gap: 1rem;
         align-items: center;
    }

    .left{
        .apple-icon{
            display: flex;
            align-items: center;
        }
    }

    .right{
        .nav-icon{
            display: flex;
            align-items: center;
        }
    }
}